button{
    font-size:30px;
    background-color:#00a5ab;
    width:100px;
    margin:10px;
    color: gray;
    padding:15px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
}

.counterButton{
   
    background-color:#00a5ab;
    
}

.resetButton{
   
    background-color: #824f8c;
    
}

.count{
    font-size: 2rem;
    padding: 20px;

}
.totalcount{
    color: #00a5ab;
    font-size: 150px;

}